test
{% block body_title %}
  {{ super() }}
  Test
  <p class=tagline>because sometimes a pocket knife is not enough
  <div class=logohint style="display: none">
    <p>
      Are you interested in the logo?  We have it available in large versions so
      please if you use it head over to the <a href="{{ url_for('community.logos') }}">logo
      page</a> for the logo and the usage guidelines.
    <p>
      Quicklinks: <a href="{{ url_for('static', filename='logo/flask.png') }}">PNG</a>
      and <a href="{{ url_for('static', filename='logo/flask.eps') }}">EPS</a>
  </div>
{% endblock %}
{% block body %}
  {{ super() }}
  <blockquote>
    Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions.
    And before you ask: It's <a href="{{ url_for('docs.show', page='license')
      }}">BSD licensed</a>!
  </blockquote>
{% endblock %}